<br>
<br>

<div id="header">
  <div id="logo">
    <h3>Agrovesto</h3>
    <p>The best place to buy, sell and invest in Agriculture</p>
      <p>copyright &copy;2022<a routerLink="/">Agrovesto</a> </p>    
  </div>
<div id="menu">
     <ul>
         <li> <a href="https://www.agrovesto.com/" >Shop</a></li>
            <li> <a routerLink="https://www.agrovesto.com/about"> About</a></li>	
                <li> <a routerLink="https://www.agrovesto.com/contact" > Contact </a></li>
       </ul>
  </div>        
</div>
