#header
{
  width:100%;
  float:left;
  text-align:center;
  background-color: rgb(43, 40, 40);
  top: 0px;
}
#logo
{ 
  width:30%;
  float:left;
  text-align: center;
}
#logo h3
{
  text-align: center;
  cursor:pointer;
  transition:1s;
  color:white;
  font-family:cambria;
}
#logo h3:hover
{
  color:black;
}

#logo p
{
  cursor:pointer;
  transition:1s;
  color:white;
  font-family:cambria;
  text-align: center;
}
#logo p:hover
{
  color:black;
}

#menu
{
  float:left;
  width:70%;
}
#menu ul
{
    margin-right: 10%;
    padding: 0;
    float:right;
    text-align: center;
}
#menu ul li
{
cursor:pointer;
list-style-type:none;
display:inline-block;
padding:8px;
}

#menu ul li a
{
  font-family:cambria;
text-decoration:none;
color:white;
font-size:20px;
}
#menu ul li a:hover
{
color:black;
}

@media only screen and (max-width: 590px) {
  #header
  {
    font-size:14px;
  }
  #logo
  {
    width:100%;
    float:left;
    text-align:center;
  }
  #menu
  {
    width:100%;
    margin: 0 auto;
  }
  #menu ul
  {
    float:none;
    margin-right:0px;
  }
}
@media only screen and (max-width: 320px) {
  #header
  {
    font-size:12px;
  }
  #logo h3
  {
    margin-bottom:1%;

  }
    #menu ul li
  {
    display:block;
  }
 }