
      /* services section css */
      #header
      {
        width:100%;
        float:left;
        text-align:center;
        background-color: slategray;
        background-image: url(./Rectangle.jpg);
        top: 0px;
        height: 300px;
      }
    
      #logo
      { 
        width:100%;
        float: center;
        background-color: rgb(43, 40, 40);
      }
      #logo h5
      {
        cursor:pointer;
        transition:1s;
        color: white;
        font-family:cambria;
      }
      #logo h1:hover
      {
        color:black;
      }
      
     #w3-content  {
     background-image: url(./Rectangle.webp);
     width: 200px;
     height: 100px;
     }
     #w3-content h1 {
       color: white;
     }
    
    
      @media only screen and (max-width: 590px) {
        #header
        {
          font-size:14px;
        }
        #logo
        {
          width:100%;
          float:left;
          text-align:center;
        }
        #menu
        {
          width:100%;
          margin: 0 auto;
        }
        #menu ul
        {
          float:none;
          margin-right:0px;
        }
      }
      @media only screen and (max-width: 320px) {
        #header
        {
          font-size:12px;
        }
        #logo h1
        {
          margin-bottom:1%;
      
        }
          #menu ul li
        {
          display:block;
        }
       }
      
    