
<br>

<div id="header">
    <div class="w3-content" style="max-width:500px">
        <h1>Make one request - get multiple quotes</h1>
       <p>
        Submit a Buying Request to get relevant quotations from verified suppliers.
        How does it work? Easy!
        1.Submit your Request For Quotation.
        
        2.Receive multiple quotations.
        
        3.Select the quotation you prefer.
        
        4.Negotiate with the seller.
        
        5.Secure you transaction by placing your order on Tradeling.
       </p>
       <button class="warm"></button>
      </div>
    </div>
    >