
<br>

<div id="header">
    <div class="w3-content" style="max-width:500px">
        <h1>Make one request - get multiple quotes</h1>
       <p>
        Submit a Buying Request to get relevant quotations from verified suppliers.
        How does it work? Easy!
        1.Submit your Request For Quotation.
        
        2.Receive multiple quotations.
        
        3.Select the quotation you prefer.
        
        4.Negotiate with the seller.
        
        5.Secure you transaction by placing your order on Tradeling.
       </p>
       <button class="warm"></button>
      </div>
    </div>
<body>
    <div id="logo">
      <h5>Why Use Agrovesto? </h5>
            <div class="flex-container">
                 <div>
                     <h3>Private Label</h3>
                      <p>
                          Put your brand on quality third-party products. 
                     </p>
                 </div>
     <div class="inner">
                   <h3>Tradeling Logistics</h3>
                       <p>
                           Book and manage freight to anywhere in the world.
                  </p>
            </div>
           <div>
                  <h3>Buy-back and trade-in</h3>
                  <p>
                      Get money for your used electronic items.
                  </p>
              </div> 
           <div>
                <h3>Sourcing simplified</h3>
                   <p>
                      Choose from 700k+ products
                  </p>
             </div>
         </div>
</div>

      </body>