.container {
  max-width: 1335px;
  margin: 0 auto;
}
.grid-row {
  display: flex;
  flex-flow: row overflow;
  justify-content: flex-start;
}

.grid-item {
  height: 350px;
  display: flex;
  flex-flow: row overflow;
  justify-content: flex-start;
  flex-basis: 100%;
  -ms-flex: auto;
  width: 259px;
  position: relative;
  padding: 10px;
  background-color: black;
  box-sizing: border-box;
}
@media(min-width: 1073px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}
@media(min-width: 815px) {
  .grid-item {
    flex-basis: 50%;
  }
}