#header
  {
    width:100%;
    float:left;
    text-align:center;
    background-color: slategray;
    top: 0px;
    height: 300px;
  }

  #logo
  { 
    width:100%;
    float: center;
    background-color: rgb(43, 40, 40);
  }
  #logo h5
  {
    cursor:pointer;
    transition:1s;
    color: white;
    font-family:cambria;
  }
  #logo h1:hover
  {
    color:black;
  }
  
 #w3-content  {
  background-image: url(./greenpepper.jpeg);
  background-image: url(./rice.jpg);
  background-image: url(./bellpepper.jpg);
 }


  @media only screen and (max-width: 590px) {
    #header
    {
      font-size:14px;
    }
    #logo
    {
      width:100%;
      float:left;
      text-align:center;
    }
    #menu
    {
      width:100%;
      margin: 0 auto;
    }
    #menu ul
    {
      float:none;
      margin-right:0px;
    }
  }
  @media only screen and (max-width: 320px) {
    #header
    {
      font-size:12px;
    }
    #logo h1
    {
      margin-bottom:1%;
  
    }
      #menu ul li
    {
      display:block;
    }
   }
  

#asd{
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  width: 100%;
  padding: 10%;
  border: 20% solid black;
  color: blueviolet;
  margin: 0;
  background-image: url(./rice.jpg);
  background-image:url(./AgroVesto.jpg);
  background-image: url(./AgroVesto.jpg);
  border-image-width: auto;
}

.h {
  text-align: center;
}
#warm {
        background-color: green; 
        border-radius: none;
        color: white;
        padding: 15px 32px;
        font-size: 16px;
        margin:  0 auto;
        cursor: pointer;
        border-radius: 14% ;
        display: block;
        text-align: center;
    }
    a:link {
        
        text-decoration: none;
      } 

    
.container {
  display: flex;
  width: 70%;
  background-color: darkblue;
}

.item {
  background: white;
  flex-basis: 499px;
  height: 120px;
  margin: 10px;
  padding: 15pz;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: auto;
  background-color: rgb(43, 40, 40);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 20px;
  width: fit-content;
  height: 250px;
}

.flex-container > div {
  background-color: #f1f1f1;
  height: 200px;
  margin: 10px;
  padding: 10px;
  display: block;
}


  
@media (max-width: 800px) {
  .flex-container {

    width: auto;
    height: 230px;
  }
  .flex-container > div {
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #f1f1f1;
    height: 200px;
    margin: 10px;
    display: grid;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 100px;
  }
 

  .inner > h3 {
    text-align: justify;
  }
  .inner > h4 {
      text-align: justify;
      top: -150px;
  }
}


@media only screen and (max-width: 320px) {
  .flex-container {
    flex-direction: column;
  }
  #inner {
    width:100%;
    display: flex;
    height: 100%;
    font-size:14px;

  }
 }
 .mySlides {display:none;
}
