#asd{
  background-image: url(./greenpepper.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  width: 100%;
  padding: 10%;
  border: 20% solid black;
  color: blueviolet;
  margin: 0;
  background-image: url(./rice.jpg);

}

.h {
  text-align: center;
}
#warm {
        background-color: green; 
        border-radius: none;
        color: white;
        padding: 15px 32px;
        font-size: 16px;
        margin:  0 auto;
        cursor: pointer;
        border-radius: 14% ;
        display: block;
        text-align: center;
    }
    a:link {
        
        text-decoration: none;
      } 

      /* services section css */
.servicesText.card {
  cursor: pointer;
}
.servicesIcon {
  text-align: center;
  width: 100%;
}
.card-title {
  text-align: center;
}
.card:hover .servicesIcon {
  color: black;
}
.servicesText:hover {
  border: 1px solid #008000;
}


[data-component="slideshow"] .slide {
  display: none;
}

[data-component="slideshow"] .slide.active {
  display: block;
}

